<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Reusable Contact Form Using Bootstrap And PHP - reusable form</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="proxyjs.js"></script>
    </head>
    <body >
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2>Proxy Settings</h2> This page can only be visited by proxy admins. </p>
                    <form role="form" method="post" id="reused_form" >
                        <div>
                         <button type="submit" class="btn btn-lg btn-success pull-right" id="btnContactUs">Add new admin! &rarr;</button>
                         </div>
                         <div class="form-group">
                            <label for="name"> List of admins:</label>
                            <textarea class="form-control" type="textarea" name="admins" id="message" placeholder="Jose Ortiz" maxlength="6000" rows="7"></textarea>
                         </div>
                         <div>
                         <button type="submit" class="btn btn-lg btn-success pull-right" id="btnContactUs">Add new blocked site! &rarr;</button>
                         </div>
                        <div class="form-group">
                            <label for="name"> List of blocked sites:</label>
                            <textarea class="form-control" type="textarea" name="admins" id="message" placeholder="www.facebook.com" maxlength="6000" rows="7"></textarea>
                         </div>
                        <div>
                         <button type="submit" class="btn btn-lg btn-success pull-right" id="btnContactUs">Clear cache! &rarr;</button>
                         </div>

                        <div class="form-group">
                            <label for="name"> List of domain resources in cache</label>
                            <textarea class="form-control" type="textarea" name="admins" id="message" placeholder="linkedin" maxlength="6000" rows="7"></textarea>
                         </div>
                        <div>
                         <button type="submit" class="btn btn-lg btn-success pull-right" id="btnContactUs">Add new User! &rarr;</button>
                         </div>

                         <div class="form-group">
                            <label for="name">Users allowed to browse in private mode</label>
                            <textarea class="form-control" type="textarea" name="admins" id="message" placeholder="jortizco@sfsu.edu" maxlength="6000" rows="7"></textarea>
                         </div>
                        <div>
                         <button type="submit" class="btn btn-lg btn-success pull-right" id="btnContactUs">Add new site! &rarr;</button>
                         </div>

                         <div class="form-group">
                            <label for="name">Sites for managers only</label>
                            <textarea class="form-control" type="textarea" name="admins" id="message" placeholder="http://companyY.org/client_data/" maxlength="6000" rows="7"></textarea>
                         </div>


                        <button type="submit" class="btn btn-lg btn-success pull-right" id="btnContactUs">Save Data! &rarr;</button>
                    </form>
                    <div id="success_message" style="width:100%; height:100%; display:none; "> <h3>Sent your message successfully!</h3> </div>
                    <div id="error_message" style="width:100%; height:100%; display:none; "> <h3>Error</h3> Sorry there was an error sending your form. </div>
                </div>
            </div>
        </div>
    </body>
</html>